@mixin headerLink {
    .header__top a{
        color: #fff;
        margin: 10px 0;
    }
}

@mixin fonts {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: $fontColor;
    
}